<!DOCTYPE html>
<html>
<head>
    <title>form</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/daterangepicker.css" />
</head>
<body ng-app="myApp" class="container ng-cloak">
<section id="content" class="row">
    {% verbatim %}
    <div ng-include="'/static/app/form/form.tpl.html'"></div>
    {% endverbatim %}
</section>
<script src="/static/js/angular.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/angular-messages.js"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/js/daterangepicker.js"></script>
<script src="/static/js/angular-daterangepicker.js"></script>

<script src="/static/app/app.js"></script>
<script src="/static/app/templates/templates.js"></script>
<script src="/static/app/form/form-controller.js"></script>
<script src="/static/app/form/form-service.js"></script>
<script src="/static/app/directives/multiple-autocomplete-field/multiple-autocomplete-field.js"></script>
</body>
</html>
